
<div class="row">

  <!-- list of companies -->
  <div class="col-sm-3">
    <div class="company-selector-panel">
      <div class="listframe">

        <ul ng-repeat="company in companies">
          <li>
            <!-- tabindex hack enables list element selection -->
            <div class="list-element" ng-click="select(company)" tabindex="-1">
              {{company.name}}
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
    
  <!-- selected company details -->
  <div class="col-sm-9">
    <div class="company-details-panel">
      {{selection.name}}
    </div>
  </div>

</div> 



