
<div class="row">

  <!-- list of companies -->
  <div class="col-sm-3">
    <div class="company-selector-panel">
      <div class="listframe">
        <ul ng-repeat="company in companies">
          <li>
            <div class="companylist-element">
              {{company.name}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <!-- selected company details -->
  <div class="col-sm-9">
    <div class="company-details-panel">
    </div>
    <!--div ui-view="companyView"></div-->
  </div>

</div> 



