/********************************
  Shared Elements (in all views)
*********************************/

html {
  font-family: sans-serif;
  overflow-x: hidden; /* prevents horiz scrollbar when using vh for full-screen image */
}

.menu-bar {
  height: 10vh;
  line-height: 10vh; /* vert. center text hack */
  padding-left: 3vw;
  padding-right: 4vw;
  background-color: rgba(0,0,255,0.6);
  color: white;
  text-transform: uppercase;
}

.branding {
  font-size: 4vh;
  font-weight: bold;
  letter-spacing: 0.6vw;
}

.log-in-out {
  float: right;
  font-size: 3vh;
  letter-spacing: 0.25vw;
}

.log-in-out a {
  color: rgba(255,255,255,0.9);
}

.log-in-out a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.log-in-out a:focus {
  text-decoration: none;
}

.login {
}

.logout {
  display: none;
}


/********************************
     Landing Page Elements
*********************************/